
{% assign member = page %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right big-member-photo" src="{{ member.image }}">
			{% endif %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="pull-left pad-right media-body titlebox">
			<div class="title media-heading">
				{{ member.title }}
			</div>
			<br/>
			<div class="smallhead">
				{{ member.position }}
			</div>
			<br/>
			<div class="smallhead">
				{{ member.institute }}
			</div>
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">  			
		{% if member.cv %}		
		<div class="smallhead">
			CV
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa-regular fa-file-lines"></i>			
			<a class="off" href="{{ member.cv }}">{{ member.cv | split: '/' | last }}</a>
		</div>		
		<div class="bigspacer"></div>		
		{% endif %}	  		
		{% if member.web %}
		<div class="smallhead">
			Website
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-external-link-square"></i>
			<a class="off" href="http://{{ member.web }}">{{ member.web }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}	
		{% if member.twitter %}		
		<div class="smallhead">
			Twitter
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa-brands fa-x-twitter"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>		
		<div class="bigspacer"></div>				
		{% endif %}	
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa-brands fa-github"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}		
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa-brands fa-google-scholar"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}
		{% if member.skype %}
		<div class="smallhead">
			Skype
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa-brands fa-skype"></i>
			<a class="off">{{ member.skype }}</a>
		</div>		
		<div class="bigspacer"></div>	
		{% endif %}				   	
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>		
		<div class="bigspacer"></div>			
		{% endif %}						
	</div>
	<div class="col-md-8">	
		<div class="post">
			{{ content }}
		</div>
		
		{% assign lastname = member.title | split: ' ' | last %}
		{% assign firstname = member.title | split: ' ' | first %}
		{% for paper in site.categories.papers %}
			{% if paper.authors contains lastname and paper.authors contains firstname %}
				{% assign papersq = true %}
			{% endif %}
		{% endfor %}

		{% if papersq == true %}
			<div class="bigspacer"></div>
			<div class="head">Papers (selected)</div>
			<div class="spacer"></div>
			{% assign paper_num = 0 %}	
			{% for paper in site.categories.papers %}
			{% if paper.authors contains lastname and paper.authors contains firstname %}
					{% assign paper_num = paper_num | plus: 1 %}
					{% if paper.embargo %}
					<p>{{ paper.title }}</p>
					{% else %}
					<p>{{ paper_num }}. <a href="{{ paper.url }}" class="off" style="font-family: Arial; color: #fa625f">{{ paper.title }}  </a>({{ paper.year }}).
						
							{% assign authorsq = paper.authors | split: ', ' %}
							{% for author_iter in authorsq %}
							{% if forloop.last %}
								 {% assign in_file = false %}
								 {% assign in_file_web = false %}
								 {% for person in site.categories.team %}
										 {% if author_iter contains person.title %}
											 {% assign in_file = true %}
											 {% assign in_file_web = person.web %}
										{% endif %}
								 {% endfor %}
								 
								 {% if in_file %}
												 <a href="http://{{ in_file_web }}">{{ author_iter }}</a>. 
								 {% else %}
												 {{ author_iter }} ({{paper.year}}).
								 {% endif %}
							 {% else %}
								 {% assign in_file = false %}
								 {% assign in_file_web = false %}
								 {% for person in site.categories.team %}
										 {% if author_iter contains person.title %}
											 {% assign in_file = true %}
											 {% assign in_file_web = person.web %}
										{% endif %}
								 {% endfor %}
							 
								 {% if in_file %}
												 <a href="http://{{ in_file_web }}">{{ author_iter }}</a>, 
								 {% else %}
												 {{ author_iter }},
								 {% endif %}
							 {% endif %}
							{% endfor %}
							&#9658 <em> {{ paper.journal }}</em> 
						{%if paper.external_link%}<a href="{{ paper.external_link}}" class="off">[paper link]</a>{% endif %}
						{%if paper.github%}<a href="{{ paper.github }}" class="off">[code]</a>{% endif %}
						{%if paper.doi%}<a href="{{ paper.doi }}" class="off">[doi]</a>{% endif %}
						{%if paper.pdf%}<a href="{{ paper.pdf }}" class="off">[pdf]</a>{% endif %}
						{%if paper.supplement%}<a href="{{ paper.supplement }}" class="off">[supplement]</a>{% endif %}					
						{%if paper.slides%}<a href="{{ paper.github }}" class="off">[slides]</a>{% endif %}
					
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}		
		
		{% for post in site.categories.blog %}
			{% if member.handle == post.author_handle %}
				{% assign postsq = true %}
			{% endif %}
		{% endfor %}
		
		{% if postsq == true %}
			<div class="bigspacer"></div>
			<div class="head">Posts</div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if member.handle == post.author_handle %}
					<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}	
		
	</div>			
	<div class="col-md-1"></div>
</div>	
