{% if page.resource_hub %}
{% include project-hub-nav.html %}
{% endif %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if page.image %}
			<img class="project-detail-icon" src="{{ page.image }}" alt="{{ page.short_title | default: page.title }}">
			{% elsif page.icon %}
			<div class="project-icon-fa project-icon-{{ page.funder_type | default: 'other' }}">
				<i class="{{ page.icon }}"></i>
			</div>
			{% else %}
			<div class="project-icon-fa project-icon-{{ page.funder_type | default: 'other' }}">
				<i class="fa-solid fa-folder-open"></i>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="col-md-9">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.description }}
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				{% if page.funder %}
				<span class="label project-funder-{{ page.funder_type | default: 'other' }}">{{ page.funder }}</span>
				{% endif %}
				{% if page.role %}
				<span class="label label-default">{{ page.role }}</span>
				{% endif %}
				{% if page.status %}
				<span class="label {% if page.status == 'active' %}label-success{% elsif page.status == 'completed' %}label-default{% else %}label-info{% endif %}">{{ page.status }}</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">

			{% if page.funder %}
			<div class="smallhead">Funder</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-solid fa-building-columns fa-fw"></i>
				{{ page.funder }}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.grant_number %}
			<div class="smallhead">Grant</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-solid fa-hashtag fa-fw"></i>
				{% if page.grant_url %}
				<a class="off" href="{{ page.grant_url }}">{{ page.grant_number }}</a>
				{% else %}
				{{ page.grant_number }}
				{% endif %}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.years %}
			<div class="smallhead">Period</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-regular fa-calendar fa-fw"></i>
				{{ page.years }}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.pi %}
			<div class="smallhead">Principal Investigator</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-solid fa-user fa-fw"></i>
				{% if page.pi_url %}
				<a class="off" href="{{ page.pi_url }}">{{ page.pi }}</a>
				{% else %}
				{{ page.pi }}
				{% endif %}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.role %}
			<div class="smallhead">Role</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-solid fa-user-check fa-fw"></i>
				{{ page.role }}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.collaborators %}
			<div class="smallhead">Team</div>
			<div class="pad-left note">
				{% for person in page.collaborators %}
				<div class="smallspacer"></div>
				<i class="fa-solid fa-user fa-fw"></i>
				{% if person.name %}
					{% if person.url %}
					<a class="off" href="{{ person.url }}">{{ person.name }}</a>
					{% else %}
					{{ person.name }}
					{% endif %}
					{% if person.role %} <span class="smallnote">({{ person.role }})</span>{% endif %}
				{% else %}
					{{ person }}
				{% endif %}
				{% endfor %}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.website %}
			<div class="smallhead">Project page</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
				<a class="off" href="{{ page.website }}">{{ page.website | remove: 'http://' | remove: 'https://' | truncate: 42 }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.resource_hub %}
			<div class="smallhead">On this page</div>
			<div class="pad-left note project-page-toc">
				<div class="smallspacer"></div>
				<a class="off" href="#overview"><i class="fa-solid fa-circle-info fa-fw"></i> Overview</a>
				<div class="smallspacer"></div>
				<a class="off" href="#resources"><i class="fa-solid fa-folder-open fa-fw"></i> Resources</a>
				<div class="smallspacer"></div>
				<a class="off" href="#publication"><i class="fa-regular fa-file-lines fa-fw"></i> Publications</a>
				<div class="smallspacer"></div>
				<a class="off" href="#presentation"><i class="fa-solid fa-chalkboard-user fa-fw"></i> Presentations</a>
				<div class="smallspacer"></div>
				<a class="off" href="#workshop"><i class="fa-solid fa-laptop-code fa-fw"></i> Workshops</a>
				<div class="smallspacer"></div>
				<a class="off" href="#conference"><i class="fa-solid fa-users fa-fw"></i> Conferences</a>
				<div class="smallspacer"></div>
				<a class="off" href="#advisory"><i class="fa-solid fa-comments fa-fw"></i> Advisory</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.related %}
			<div class="smallhead">Related</div>
			<div class="pad-left note">
				{% for item in page.related %}
				<div class="smallspacer"></div>
				<i class="fa-regular fa-file-lines fa-fw"></i>
				<a class="off" href="{{ item.url }}">{{ item.title }}</a>
				{% endfor %}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			<div class="smallhead">Share</div>
			<div class="post-sharing">
				{% include JB/sharing %}
			</div>

		</div>
	</div>

	<div class="col-md-8">
		<div class="post" id="overview">
			{{ content }}
		</div>
	</div>

	<div class="col-md-1"></div>
</div>

{% if page.resource_hub %}
<div class="row">
	<div class="col-md-12">
		{% include themes/lab/project-hub.html %}
	</div>
</div>
{% endif %}

<div class="bigspacer"></div>
