<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<!-- Html Elements for Search -->
<div id="search-container">
  <!-- Search the site:
  <input type="search" name="search" size="50" id="search-input"  
  placeholder="&#xf06e; Try 'Bayesian','causal','AI', ... " style="font-family:Arial, FontAwesome"> -->

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <div class="wrapper">
    <div class="searchBar">
      <input id="search-input" type="search" name="search-input"
        placeholder="&#xf06e; Search zhenkewu.com. Try 'Bayesian','causal','AI', ... " value=""
        style="font-family:Arial, FontAwesome" />
    </div>
    <!-- select how many lists to display -->
    <form>
      <label> <i class="fa-solid fa-list"></i> <small>Show </small></label>
      <select id="viewnresults" onchange="getSelectedVal(this)" class="select">
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select> <label><small>results</small></label>
    </form>
    <ul id="results-container"></ul>
  </div>
</div>

<!-- Script pointing to search-script.js -->
<script src="/js/search-script.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>


<script src="/js/search-result.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
  var global_result_template = '<li>[<em>{category}</em>] ({year}) <a href="{url}">{title}</a> {author}</li>';


  function sort_curr(a, b) {
    var astr = String(a.category) + "-" + String(a.year);
    var bstr = String(b.category) + "-" + String(b.year);
    return bstr.localeCompare(astr)
  }

  window.addEventListener("load",
    function () {
      // Get the selected value from the select element
      var selectedValue = document.getElementById("viewnresults").value;
      // You can now pass the selectedValue to your desired JavaScript function
      // For example, display it in an alert
      // alert("Loaded initial value: " + selectedValue);

      // Or perform any other action with the selected value
      simple_search(global_result_template, sort_curr, '/search-global.json');
    }, false
  )

  function getSelectedVal(selectElement) {
    // Get the selected value from the select element
    var selectedValue = selectElement.value;
    // You can now pass the selectedValue to your desired JavaScript function
    // For example, display it in an alert
    // alert("Selected value: " + selectedValue);
    // Or perform any other action with the selected value
    // console.log(document.getElementById('search-input').value);
    simple_search(global_result_template, sort_curr, '/search-global.json');
  }
</script>