<!-- Html Elements for Search -->
<div id="search-container">
  <!-- Search papers:
  <input type="search" name="search" size="50" id="search-input" 
  placeholder="&#xF002; Try 'Bayesian', '2023', 'causal', 'mobile health', ... " style="font-family:Arial, FontAwesome">
  <ul id="results-container"></ul>
</div> -->

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="wrapper">
  <div class="searchBar">
    <input id="search-input" type="search" name="search-input"
    placeholder="&#xf06e; Search Papers. Try 'Bayesian','causal','2024', ... " value="" style="font-family:Arial, FontAwesome"/>
  </div>
    <!-- select how many lists to display -->
    <div style="line-height:50%;">
      <br>
  </div>
    <form>
      <label>   <i class="fa-solid fa-list"></i> <small>Show </small></label>
      <select id="viewnresults" onchange="getSelectedVal(this)">
        <option value="5" >5</option>
        <option value="10" selected="selected">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>  <label><small>results</small></label>
    </form>
    <div style="line-height:100%;">
      <br>
  </div>
  <ul id="results-container"></ul>
</div>
  
  <!-- Script pointing to search-script.js -->
  <script src="/js/search-script.js" type="text/javascript"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
  
 <!-- Configuration -->

<script src="/js/search-result.js" type="text/javascript"></script>

<!-- Configuration -->
<script>

function sort_curr(a, b) {
      var astr = String(a.year);
      var bstr = String(b.year);
      return bstr.localeCompare(astr)
    }

var paper_result_template = '<li>({year}) <a href="{url}">{title}</a> {author} <i class="label label-default"> {journal}</i> <span class="post-meta"></span></li>';

window.addEventListener("load",
  function () {
    // Get the selected value from the select element
    var selectedValue = document.getElementById("viewnresults").value;
    // You can now pass the selectedValue to your desired JavaScript function
    // For example, display it in an alert
    // alert("Loaded initial value: " + selectedValue);
    // Or perform any other action with the selected value
    simple_search(paper_result_template,sort_curr,'/search.json');
  }, false
)

function getSelectedVal(selectElement) {
  // Get the selected value from the select element
  var selectedValue = selectElement.value;
  // You can now pass the selectedValue to your desired JavaScript function
  // For example, display it in an alert
  // alert("Selected value: " + selectedValue);
  // Or perform any other action with the selected value
  simple_search(paper_result_template,sort_curr,'/search.json');
}


</script>
