---
layout: default
title: "papers"
description: "Research papers from the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="smalltitle text-left">Statistical Methods</div>
<div class="bigspacer"></div>
<div class="container">
<div class="bigspacer"></div>
{% for paper in site.categories.papers %}
  {% if paper.type == "statistical"%}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-4 paperbox">
			<div class="media">
  				<a class="pull-right" href="{{ paper.url }}">
    				<img width=100 class="media-object" src="{{ paper.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
    				<p class="note">{{ paper.shortref }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
 {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
</div>

<hr/>
<div class="smalltitle text-left">Substantive</div>
<div class="bigspacer"></div>

<div class="container">
<div class="bigspacer"></div>
{% for paper in site.categories.papers %}
  {% if paper.type == "substantive"%}
    {% cycle 'add rows2': '<div class="row">', '', '' %}
		<div class="col-md-4 paperbox">
			<div class="media">
  				<a class="pull-right" href="{{ paper.url }}">
    				<img width=100 class="media-object" src="{{ paper.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="smallhead media-heading"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
    				<p class="note">{{ paper.shortref }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>
        </div>
    {% cycle 'close rows2': '', '', '</div>' %}
 {% endif %}
{% endfor %}
{% cycle 'close rows2': '', '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
</div>

<div class="bigspacer"></div>

<div class="infinite-spinner"></div>

<!-- <div class="row">
	<div class="col-md-12">
		<div id="scroll" class="centered-pills">
			<ul class="nav nav-pills note">
				<li role="presentation">
					<a class="off" href="/papers/">
						<i class="fa fa-chevron-up fa-fw"></i> Back to top
					</a>
				</li>				
			</ul>
		</div>
	</div>
</div> -->

<!-- Infinite scroll -->	
<script async src="/js/infinite-scroll.js"></script>