---
---

$font-size-base: 18px;
$font-stack:    jinkaiFont, museo-sans, Optima, sans-serif;
$primary-color: #000000;
$font-weight-base: 300;
$heavy-font-weight: 700;

@nav-pills-active-link-hover-bg: @navbar-default-bg;
@nav-pills-active-link-hover-color: @gray;

$carousel-height: 350px;

body {
	font-size: $font-size-base;
	font: $font-stack;
	font-family: $font-stack;
	font-weight: $font-weight-base;
	color: $primary-color;
}

body > .container {
	padding-top: 75px !important; /* to prevent navbar overlap */
	font-family: $font-stack;
	color: $primary-color;
	font-weight: $font-weight-base;
	padding-bottom: 100px !important; /* to prevent navbar overlap */
}

h1, .h1 { font-size: floor($font-size-base * 1.75); } /* ~36px */
h2, .h2 { font-size: floor($font-size-base * 1.5); } /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.30); }  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.1); }  /* ~18px */
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); }  /* ~12px */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack;
	font-weight: $heavy-font-weight;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
     text-align: center;
}


// other

p {
	font-weight: $font-weight-base;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off { 
	color: inherit; 
}


.big-member-photo {
	// width: 300px;
	max-width: 300px;
	// height: 400px;
}

.member-photo {
	height: 20vw;
	min-height: 100px;
	max-height: 225px;
	padding-top: 20px;
}

.member-name {
	padding-top: 5px;

	a {
		color: black ; /* color of links in post */
		border-bottom: 0.5px dotted; /* underscore in post*/
	}

	h1 {

	}
}

@media all and (max-width: 800) {
	.member-name {
		font-size: $font-size-base;
	}
}

.construction {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #880000;
	font-size: $font-size-base*2;
}

// emphases

term {
	font-style: italic;
}

strong {
	font-style: bold;
}

// logo

.logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.biglogo {
	width: 180px;
	height: 180px;
	padding: 5px;
}

.logobox {
	height: 60px;
	line-height: 65px;
	font-weight: $heavy-font-weight;
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	text-shadow: 1.5px 1.5px #ffffff;
}

// navbar
	.navbar-brand { 
		font-size: 21px !important; 
		font-weight: 1*$font-weight-base;
	}

	.navbar-nav { 
		font-size: 17px !important; 
		font-weight: 1*$font-weight-base;
		a {
			color: black !important;
		}
	}

	.dropdown-menu {
		padding-left: 2%;
		font-size: $font-size-base !important;
		font-weight: $font-weight-base;
	}

	.dropdown {
		font-weight: $font-weight-base;
	}

	.navbar-small {
	font-size: 15px !important;
	font-weight: 1*$font-weight-base;
	}

@media all and (max-width: 1000px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
}


@medial all and (min-width: 900px){
	.navbar-small{
	  font-size: 15px;
	  font-weight: 1*$font-weight-base;
	}
}



// projects pages

.project-image {
	width: 600px;
	background-color: #FFFFCC;
}

.paper-image {
	width: 200px;
}

// carousel

.carousel-fade {
  opacity: 1;
}
.carousel-fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel-fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel-fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.carousel-indicators {
  bottom:0px;
}

.carousel-overlay { 
	position:absolute;
	z-index:12;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
}


// headings

.logotitle {
	font-size: 30px;
	font-size: 7vw;
	line-height: 30px;
	line-height: 4vw;
	font-weight: 100;
}

@media all and (min-width: 1024px) {
	.logotitle {
		font-size: 80px;
		line-height: 80px;
	}
}

.title {
	font-size: 45px; 
	line-height: 50px;
	font-weight: 100;
}

.bigtitle {
	font-size: 60px; 
	line-height: 65px;
	font-weight: 100;
}

@media all and (max-width: 500px) {
	.bigtitle {
		font-size: 40px;
		line-height: 40px;
	}
	.title {
		font-size: 30px;
		line-height: 30px;
	}
}

.bighead {
	font-size: ceil($font-size-base*2.5);
	font-weight: $font-weight-base;
	line-height:36px;
}

.head {
	font-size: $font-size-base*1.5;
	font-weight: $font-weight-base;
	line-height:30px;
}

.smallhead {
	font-size: 19px;
	font-weight: $font-weight-base;
	line-height: 23px;
}

.note-title {
	font-weight: 600;
	a {
		color: black;
		border-bottom: false;
	}

	h1 {

	}	
}
.note {
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: ceil($font-size-base*1.2);

	a {
		color: black ; /* color of links in post */
		border-bottom: 0.5px dotted; /* underscore in post*/
	}

	h1 {

	}
}

.note-button {
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: ceil($font-size-base*1.2);

	a {
		color: black ; /* color of timeline/index button */
		border-bottom: false;
	}

	h1 {

	}
}


.smallnote {
	font-size: floor($font-size-base*0.9);
	font-weight: $font-weight-base;
	line-height: $font-size-base;
}

.journal-title {
	
}

.journal {
	font-style: italic;
}

.shortref {
	font-style: italic;
}

/* tag_box */
.tag_box {
  list-style:none;
  margin:0;
  overflow:hidden;
  padding-left:10px;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  /*opacity:0.9;*/
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  /*padding: 3px 6px;*/
  /*margin: 2px;*/
  /*background: #eee;*/
  /*color:#555;*/
  /*border-radius: 3px;*/
  text-decoration:none;
  /*border:1px dashed #ccc;*/
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}

// pills:
.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color:#e7e7e7;
color:black;
}



/* Responsive Video Embed
   ========================================================================== */

.responsive-video-container {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// full screen video fixes
:-webkit-full-screen-ancestor {
  .masthead,
  .page__footer {
    position: static;
  }
}

 #headervideo {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -60%);
 }


//   ul li:hover {
// 	background-color: lightblue;
//   }


//   body {
// 	font-family: sans-serif
//   }


  // castle
  .castle{
  body {
	background-color: #000;
  }
  
  p {
	font-family: "Poppins", sans-serif;
	color: #748b91;
	font-size: 17px;
  }
  
  .center {
	text-align: center;
	vertical-align: center;
  }
  
  #MonValley #BrightDoor {
	transition: all 0.3s ease-in-out;
	opacity: 0;
  }
  
  #MonValley:hover #BrightDoor {
	opacity: 1;
  }
  #MonValley #Step1 {
	transition: all 0.65s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step1 {
	transform: translate(0px, 0px);
  }
  
  #MonValley #Step2 {
	transition: all 0.6s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step2 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step3 {
	transition: all 0.55s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step3 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step4 {
	transition: all 0.5s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step4 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step5 {
	transition: all 0.45s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step5 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step6 {
	transition: all 0.4s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step6 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step7 {
	transition: all 0.35s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step7 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step8 {
	transition: all 0.3s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step8 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step9 {
	transition: all 0.25s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step9 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step10 {
	transition: all 0.2s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step10 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step11 {
	transition: all 0.15s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step11 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step12 {
	transition: all 0.1s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step12 {
	transform: translate(0px, 0px);
  }
  #MonValley #Step13 {
	transition: all 0.05s ease-in-out;
	transform: translate(0px, 150px);
  }
  #MonValley:hover #Step13 {
	transform: translate(0px, 0px);
  }
  .black-block {
	background-color: black;
	margin-top: -5px;
	min-height: 5px;
	z-index: 10;
	position: relative;
  }
}

// For li in search results
// for the search result box

  #results-container li { // controls the list
	margin-bottom: 0.5rem;
  }
  
  span.post-meta {
	font-size: 0.5rem;
  }

  ul#results-container li {
	  padding: 0.0;
	  list-style: lower-greek;
	  font-size: 1.4rem;
	  a {
		position: relative;
		display: block;
		width: 100%;
		// text-transform: uppercase;
		margin: 0px 0px;
		padding: 0px 0px;
		text-decoration: none;
		color: #262626;
		font-family: sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		transition: .5s;
		z-index: 1;
		&:before {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  border-top: 2px solid #262626;
		  border-bottom: 2px solid #262626;
		  transform: scaleY(2);
		  opacity: 0;
		  transition: .3s;
		}
		&:after {
		  content: '';
		  position: absolute;
		  top: 0px;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background-color: #262626;
		  transform: scale(0);
		  opacity: 0;
		  transition: .3s;
		  z-index: -1;
		}
		&:hover {
		  color: #fff;
		  &:before {
			transform: scaleY(1);
			opacity: 1;
		  }
		  &:after {
			transform: scaleY(1);
			opacity: 1;
		  }
		}
	  };
	}

	// search bar input

	// body { // this can control the navbar font only. not sure why
	// 	font-family: 'Roboto', Arial, sans-serif;
	//   }
	  
	  .wrapper {
		width: 100%;
		// max-width: 31.25rem;
		margin: 1rem auto;
	  }



	//   Usually, the problem lies with the font size of your input. 
	//   If the input font was reduced below 16px, even just a little bit, the mobile device zooms in on the view so the user can better see any text.
	//   A really simple fix is to add the following to your root .scss file:

	  @media screen and (max-width: 767px) {
		input, select, textarea {
			 font-size: 16px !important;
		}
   }
	  
	  .label {
		font-size: .625rem;
		font-weight: 400;
		// text-transform: uppercase;
		letter-spacing: +1.3px;
		margin-bottom: 1rem;
	  }
	  
	  .searchBar {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	  }
	  
	  #search-input {
		width: 100%;
		height: 2.8rem;
		background: #f5f5f5;
		outline: none;
		border: none;
		border-radius: 1.625rem;
		padding: 0 1.5rem 0 1.5rem;
		font-size: 1.5rem;
	  }



	  input[type="search"]::-webkit-search-cancel-button {

		/* Remove default */
		-webkit-appearance: none;
	  
		/* Now your own custom styles */
		 height: 14px;
		 width: 14px;
		 display: inline-block;
		 cursor: pointer;
		 background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
		/* setup all the background tweaks for our custom icon */
		background-repeat: no-repeat;
	  
		/* icon size */
		background-size: 14px;
	  
	  }


	  .photo-web{
		max-width: 100%;
		height: auto;
		width: auto\9;
	  }


/* for labeling the links in the by year publications */

	.label {
		display: inline;
		padding: .02em .1em .02em;
		font-size: 75%;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em
	}
	
	.label[href]:hover,.label[href]:focus {
		color: #fff;
		text-decoration: none;
		cursor: pointer
	}
	
	.label:empty {
		display: none
	}
	
	.btn .label {
		position: relative;
		top: -1px
	}
	
	.label-default {
		background-color: #999
	}
	
	.label-default[href]:hover,.label-default[href]:focus {
		background-color: #808080
	}
	
	.label-primary {
		background-color: #428bca
	}
	
	.label-primary[href]:hover,.label-primary[href]:focus {
		background-color: #3071a9
	}
	
	.label-success {
		background-color: #5cb85c
	}
	
	.label-success[href]:hover,.label-success[href]:focus {
		background-color: #449d44
	}
	
	.label-info {
		background-color: #5bc0de
	}
	
	.label-info[href]:hover,.label-info[href]:focus {
		background-color: #31b0d5
	}
	
	.label-warning {
		background-color: #f0ad4e
	}
	
	.label-warning[href]:hover,.label-warning[href]:focus {
		background-color: #ec971f
	}
	
	.label-danger {
		background-color: #d9534f
	}
	
	.label-danger[href]:hover,.label-danger[href]:focus {
		background-color: #c9302c
	}

.label-red{background-color:#ed8b84}
.label-brown{background-color:#a37e62}
.label-purple{background-color:#9e7fc7}
.label-green{background-color:#73a895}